#appContainer {
    width: 600px;
    margin: 0 auto;
    margin-top: 50px;
    border: 10px solid grey;
    border-radius: 100px;
    padding: 20px;

}

input {
    padding: 10px;
}

#searchBox {
    padding: 20px;
    text-align: center;

}

button {
    padding: 10px;
    margin: 10px;
    background: rgb(218, 216, 216);
    border: 1px solid rgb(218, 216, 216);
    border-radius: 5px ;
}

ul {
    border-top: 4px solid rgb(255, 186, 58);
    border-bottom: 4px solid rgb(255, 186, 58);
    padding: 10px;
    margin: 0 auto;
    margin-left: -10px;
    width: 600px;
    display: flex;
    list-style: none;
    justify-content: space-around;
 
}

li {
    list-style: none;
}

#cityName {
    width: 100%;
    text-align: center;
    font-size: 30px;
    padding-bottom:20px;
}


#weatherIcon {
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

img {
    margin: -20px;
    max-width: 150px;
}

